* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f6f2f2;
    background-image: url('../img/car.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;

}
.navbar {
    background-color:  #ff0000;;

}
.navbar ul {
    
    margin-left: 10%;
}
.navbar li {

    display: inline;
    margin-left: 200px;

}
.navbar a {
    
    color: #f6f2f2;
  
}
form {
    display: block;
}

 